body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#bullet-item {
    list-style: circle !important;
}

#bullet-childern-item {
    list-style: none !important;
}