@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --font-family: 'Montserrat', sans-serif;
    --blue: #0071E3;
    --yellow: #EEC900;
    --green: #008B45;
    --red: #CD0000;
    --steel: #104E8B;
    --orange: #CD3700;
    --purple: #B452CD;
    --white: #FFF;
    --black: #363636;
    --focus: #1E90FF;
    --border: #B5B5B5;
}

.txt-1 {
    color: var(--blue) !important;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.txt-1:hover {
    color: var(--blue) !important;
}

.txt-2 {
    color: var(--yellow) !important;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.txt-2:hover {
    color: var(--yellow) !important;
}

.txt-3 {
    color: var(--green) !important;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.txt-3:hover {
    color: var(--green) !important;
}

.txt-4 {
    color: var(--red) !important;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.txt-4:hover {
    color: var(--red) !important;
}

.txt-5 {
    color: var(--black) !important;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.txt-5:hover {
    color: var(--black) !important;
}

.txt-6 {
    color: var(--orange) !important;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.txt-6:hover {
    color: var(--orange) !important;
}

.txt-7 {
    color: var(--purple) !important;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.txt-7:hover {
    color: var(--purple) !important;
}

.txt-8 {
    color: var(--white) !important;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.txt-8:hover {
    color: var(--white) !important;
}

.btn-g {
    font-size: 20px !important;
}

.btn {
    font-weight: 600;
    font-size: 15px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
    box-shadow: 1px 1px 5px gray;
    outline: none !important;
    cursor: pointer;
}

.btn-1 {
    background-color: var(--blue);
    color: #FFF;
    transition: 0.2s;
}

.btn-1:hover {
    background-color: var(--focus);
    color: #FFF !important;
    transition: 0.2s;
}

.btn-2 {
    background-color: var(--yellow);
    color: #000;
    transition: 0.2s;
}

.btn-2:hover {
    background-color: #EEEE00;
    color: #000;
    transition: 0.2s;
}

.btn-3 {
    background-color: var(--green);
    color: #FFF;
    transition: 0.2s;
}

.btn-3:hover {
    background-color: #00CD66;
    color: #FFF !important;
    transition: 0.2s;
}

.btn-4 {
    background-color: var(--red);
    color: #FFF !important;
    transition: 0.2s;
}

.btn-4:hover {
    background-color: #FF0000;
    color: #FFF !important;
    transition: 0.2s;
}

.btn-5 {
    background-color: var(--black);
    color: #FFF;
    transition: 0.2s;
}

.btn-5:hover {
    background-color: #696969;
    transition: 0.2s;
}

.btn-6 {
    background-color: var(--orange);
    color: #FFF;
    transition: 0.2s;
}

.btn-6:hover {
    background-color: #FF4500;
    transition: 0.2s;
}

.btn-7 {
    background-color: var(--purple);
    color: #FFF;
    transition: 0.2s;
}

.btn-7:hover {
    background-color: #E066FF;
    transition: 0.2s;
}

.btn-8 {
    background-color: #E8E8E8;
    color: #0071E3;
    transition: 0.2s;
}

.btn-8:hover {
    background-color: var(--white);
    transition: 0.2s;
}

.bg-1 {
    background-color: var(--blue);
    color: #FFF;
    transition: 0.2s;
}

.bg-2 {
    background-color: var(--yellow);
    color: #000;
    transition: 0.2s;
}

.bg-3 {
    background-color: var(--green);
    color: #FFF;
    transition: 0.2s;
}

.bg-4 {
    background-color: var(--red);
    color: #FFF;
    transition: 0.2s;
}

.bg-5 {
    background-color: var(--black);
    color: #FFF;
    transition: 0.2s;
}

.bg-6 {
    background-color: var(--orange);
    color: #FFF;
    transition: 0.2s;
}

.bg-7 {
    background-color: var(--purple);
    color: #FFF;
    transition: 0.2s;
}

.bg-8 {
    background-color: #E8E8E8;
    color: #0071E3;
    transition: 0.2s;
}

.bg-9 {
    background-color: var(--steel);
    color: #fff;
    transition: 0.2s;
}

.no-border {
    border: none;
}

.input-search {
    border: 1px solid var(--border);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: Arial, FontAwesome; */
    font-size: 15px;
    border-radius: 8px;
    background-color: #DCDCDC;
    transition: 0.2s;
    width: 130px;
}

.input-search::-webkit-input-placeholder { 
    font-family: sans-serif, "Font Awesome 5 Free" !important;
    font-weight: 600;
}


.input-search::-moz-placeholder { 
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 100;
}

.input-search:focus {
    outline: none;
    border: 1px solid;
    border-color: var(--focus);
    background-color: #FFFFF0;
    transition: 0.2s;
    width: 230px;
}

.input-class {
    border: 1px solid var(--border);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 8px;
    transition: 0.2s;
    width: 100%;
}

.input-class:focus {
    outline: none;
    border: 1px solid;
    border-color: var(--focus);
    transition: 0.2s;
}

.textarea {
    border: 1px solid var(--border);
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 8px;
    background-color: #FFF;
    transition: 0.2s;
}

.textarea:focus {
    outline: none;
    border: 1px solid;
    border-color: var(--focus);
    transition: 0.2s;
}

.select-class {
    width: 100%;
    border: 1px solid var(--border);
    padding: 10px;
    font-family: 'Montserrat', sans-serif, "Font Awesome 5 Free" !important;
    font-size: 15px;
    border-radius: 8px;
    background-color: #FFFAFA;
    -webkit-appearance: none;
    appearance: none;
    padding-right: 50px;
    transition: 0.2s;
}

.select-class::-webkit-user-select { 
    font-family: sans-serif, "Font Awesome 5 Free" !important;
    font-weight: 600;
}

.select-class::-moz-select { 
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 100;
}

input[type=date] {
    /* background: url('../_img/arrow-16.png') 95.5% 50% no-repeat; */
    -webkit-appearance: none !important;
    appearance: none !important;
}

.select-class:focus {
    outline: none;
    border: 1px solid;
    border-color: var(--focus);
    background-color: #E8E8E8;
    transition: 0.2s;
}

.alert-danger {
    border: none;
    text-align: center;
    border-radius: 15px;
}

.dropdown-item {
    padding: 15px;
    transition: 0.2s;
}

.dropdown-item:hover {
    color: #000 !important;
    transition: 0.2s;
}

.navbar-icon {
    border: 0px;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
}

.card {
    border-radius: 10px !important;
}

.card-custom {
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #E8E8E8;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
}

.card-custom:hover {
    box-shadow: 1px 2px 15px var(--border);
    transition: 0.2s;
}

.card-header {
    background-color: transparent;
}

.ticket {
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--border);
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
}

/* Table Base */

table {
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 5px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 5px;
}

.table th, .table td {
    font-weight: normal;
    font-size: 15px;
    padding: 12px 15px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid #CFCFCF;
}

.table thead th {
    background: #F5F5F5;
    vertical-align: bottom;
}

.table tbody>tr:nth-child(odd)>td, .table tbody>tr:nth-child(odd)>th {
    background-color: #E8E8E8;
}

.font-1 {
    font-size: 15px;
}

.font-2 {
    font-size: 20px;
}

.font-3 {
    font-size: 25px;
}

.font-4 {
    font-size: 30px;
}

.font-5 {
    font-size: 35px;
}

/* Small Sizes */

@media (max-width: 480px) {
    .table-action thead {
        display: none;
    }
    .table-action tr {
        border-bottom: 1px solid #DDDDDD;
    }
    .table-action td {
        border: 0;
    }
    .table-action td:not(:first-child) {
        display: block;
    }
}

.img-resp {
    width: 100%;
}

.img-thumb {
    width: 100%;
    border-radius: 50%;
}

.border {
    border: 2px solid;
}

.container {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
}